root {
  --pink: #f14e95;
  --bg: #0a0a0a;
  --shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}

body {
  font-size: 1.2rem;
  font-family: "Work Sans", sans-serif;
  min-height: 2000px;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url(../img/wedding.png);
  background-position: center;
  background-size: cover;
  margin-bottom: 50px;
  padding: 150px;
  z-index: -1;
  filter: grayscale();
}

.hero {
  min-height: 100vh;
  position: relative;
  margin-bottom: 50px;
}

.hero h1, .hero h4, .hero p {
  text-shadow: rgb(0 0 0 0.8);
  text-transform: capitalize;
  color: black;
}

.hero h1 {
  font-family: "Sacramento", cursive;
  font-size: 6rem;
  font-weight: 600;
}

.hero h4 {
  font-size: 1.6rem;
}

.hero p {
  font-size: 1.4rem;
}

.hero a {
  color: pink;
  background-color: white;
  box-shadow: var(--bg);
  text-transform: capitalize;
}

.hero a:hover {
  background-color: #f14e95 ;
  color: white;
}

.mynavbar {
  background-color: rgba(255, 255, 255, 0.3) !important;
  backdrop-filter: blur(4px);
}

.mynavbar .offcanvas {
  height: 100vh;
}

.mynavbar .navbar-brand, .mynavbar .offcanvas-title {
  font-family: "Sacramento", cursive;
  font-size: 3.2rem;
  text-transform: capitalize;
  font-weight: bold;
}

.mynavbar .nav-link {
  text-transform: uppercase;
}

.home {
  background-image: url(img/bg\ pernikahan.jpg);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  margin-top: -6rem;
  padding-top: 10rem;
  padding-bottom: 5rem;
}

.home h2, .info h2, .story h2, .gallery h2, .rsvp h2, .gift h2 {
  color: #f14e95;
  font-family: "Sacramento", cursive;
  font-size: 5rem;
  font-weight: 600;
  text-transform: capitalize;
}

.home h3 {
  color: #444;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-transform: capitalize;
  font-weight: 700;
}

.home p {
  color: #666;
  font-size: 1rem;
  margin-bottom: 1rem;
  text-transform: capitalize;
  text-align: center;
}

.home .couple {
  margin-top: 100px;
}

.home .couple h3 {
  font-family: "Sacramento", cursive;
  font-size: 1.4rem;
  color: #f14e95;
}

.home .couple img {
  width: 100%;
}

.col-4 img {
  height: 200px;
  width: 200px;
} 

.home .heart {
  width: 50px;
  height: 50px;
  background-color: white;
  display: flex;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(65px);
}

.home .heart i {
  margin: auto;
  color: #f14e95;
}

.info {
   background-color: black;
   color: white;
   padding-top: 10rem;
   padding-bottom: 8rem;
}

.info .alamat {
  font-size: 1.1rem;
  text-transform: capitalize;
}

.info .description {
  font-size: 1rem;
  font-weight: 300;
  text-transform: capitalize;
}


.info .card {
  background-color: rgba(255, 255, 255, 0.2) !important;
  color: white !important;
  border: 1PX #999;
}

.info .card-header {
  border-bottom: 1px solid #999;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.info .card-body {
  font-size: 1rem;
  text-transform: capitalize;
}

.info .card-footer {
  border-top: 1px solid #999 ;
  font-size: 0.9rem;
  font-weight: 300;
  text-transform: capitalize;
}

.story, .gallery, .rsvp, .gift {
  padding-top: 10rem;
  padding-bottom: 8rem;
}

.story span, .gallery span .gift span {
  text-transform: uppercase;
  color: #666;
  font-size: 0.9rem;
  letter-spacing: 1px;
  display: block;
  margin-bottom: 1rem;
}

.story p, .gallery p, .rsvp p, .gift p {
  font-size: 1rem;
  font-weight: 300;
}

.timeline {
  list-style: none;
  padding: 1.4rem 0;
  margin-top: 1rem;
  position: relative;
}

.timeline::before {
  content: '';
  top: 0 ;
  bottom: 0;
  position: absolute;
  width: 1px;
  background-color: #ccc;
  left: 50%;
}

.timeline li {
  margin-bottom: 1.5rem;
  position: relative;
}

.timeline li::before,
.timeline li::after {
  content: '';
  display: table;
}

.timeline li::after{
  clear: both;
}

.timeline li .timeline-image {
  height: 160px;
  width: 160px;
  background-color: #ccc;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.timeline li .timeline-panel {
  width: 40%;
  float: left;
  border: 1px solid #ccc;
  padding: 2rem;
  position: relative;
  border-radius: 8px;
  background-color: #fff;
}

.timeline li .timeline-panel::before {
  content: '';
  display: inline-block;
  position: absolute;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  top: 80px;
  right: -15px;
}

.timeline li .timeline-panel::after {
  content: '';
  display: inline-block;
  position: absolute;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  top: 81px;
  right: -13px;
}

.timeline li.timeline-inverted .timeline-panel {
  float: right;
}

.timeline li.timeline-inverted .timeline-panel::before {
  border-left-width:0;
  border-right-width: 15px;
  left: -13px;
  right: auto;
}

.timeline li.timeline-inverted .timeline-panel::before { 
  border-left-width:0;
  border-right-width:14px;
  left: -15px;
  right: auto;
}

.gallery {
  background-color: #f5f5f5;
}

.rsvp {
  background-color: black;
}

.rsvp h2 {
  font-size: 4.5rem;
}

.rsvp p {
  color: white;
}

.rsvp form label {
  color: white;
}

.rsvp button {
  background-color: pink;
  color: white;
  border: 1px solid pink;
}

.rsvp button:hover {
  background-color: white;
  color: pink;
  border: 1px solid white;
}

footer {
  padding: 3rem;
  background-color: black;
  color: white;
}

footer a {
  font-weight: bold;
  text-decoration: none;
}

footer a:hover {
  color: white;
}

footer li {
  list-style: none;
  display: inline;
  margin: 0.5rem;
}

.audio-icon-wrapper {
  width: 4rem;
  height: 4rem;
  font-size: 4rem;
  position: fixed;
  bottom: 2.5rem;
  right: 2rem;
  cursor: pointer;
  color: white;
  opacity: 0.5;
  mix-blend-mode: difference;
  animation: rotating 4s linear infinite;
  transform-origin: center;
  display: flex;
  justify-content: center;
  line-height: 0;
}

@keyframes rotating {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}
/* media quary */
/* extra large */
@media (max-width: 992px) {
  .home .heart {
    transform: translateX(-50%) translateY(45px);
  }
}
/* laptop */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }
  .simply-countdown > .simply-section {
    padding: 70px;
  } 
  .home .heart {
    display: none;
  }

  .timeline::before {
    left: 60px;
  }

  .timeline li .timeline-image {
    left: 15px;
    margin-left: 45px;
    top: 16px;
  }

  .timeline li .timeline-panel {
    width: calc((100% - 200px));
    float: right;
  }
  .timeline li .timeline-panel::before { 
    border-left-width:0;
    border-right-width:15px;
    left: -15px;
    right: auto;
  }
  .timeline li .timeline-panel::after { 
    border-left-width:0;
    border-right-width:14px;
    left: -13px;
    right: auto;
  }
}
/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }
  .simply-countdown > .simply-section {
    padding: 60px;
    margin: 5px;
  } 
  
.mynavbar .nav-link {
  font-size: 2rem;
  text-align: center;
  }
  .sticky-top {
    overflow: hidden;
  }
  .timeline li .timeline-image {
    width: 140px;
    height: 140px;
  }
  .timeline li .timeline-image {
    width: 140px;
    height: 140px;
  }

}

/* media phone */
@media (max-width: 576px) {
  html {
    font-size: 50%;
  }
  .simply-countdown > .simply-section {
    padding: 30px;
    margin: 3px;
  } 
  .timeline li .timeline-image {
    width: 80px;
    height: 80px;
  }
  .timeline li .timeline-panel {
    width:  65%;
    transform: translateX(-20);
  }
  .timeline li .timeline-panel::before {
    top: 30px;
  }
  .timeline li .timeline-panel::after {
    top: 31px;
  }
  .mynavbar {
    background-color: rgba(255, 255, 255, 0.3) !important;
    backdrop-filter: none;  
  }
}